<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="index.js"></script>
    <title> BookShelf </title>
</head>
<body>
    <header>
        <!-- This contains the nav -->
        <a class="logo" href="#"><img src="http://drive.google.com/uc?export=view&id=161fBYCoAU-1Rhz17Lr3C-a3nxr3ZQ8s_" alt="Logo"></a> 
        <nav>
            <ul>
                <li><a href="#">Home</a></li> <!-- This is the feed -->
                <li><a href="#">Shop</a></li>
                <li><a href="/login">BookShelf</a></li>
                <li><a href="/login">Profile</a></li> <!-- This is where the profile of the user can be seen -->
            </ul>
        </nav>
    </header>
    
    <article>
        <!-- This is like social media feed, where people can scroll down to look for what people are reading. -->
        <div class="login_article_div">
            You are currently not logged in.<br>
            <a href=#><span class="login_button"> Sign Up </span></a>
            <a href="/login"><span class="login_button"> Login </span></a>
        </div>

        <div class="feed">
            <!-- First Post -->
            <div class="post">
                <h2 class="post_user">BookShelf Official</h2>
                <h4 class="usr_tag"> @ BookShelf_official </h4>
                <p class="post_content">Welcome to BookShelf, your online literary haven for book enthusiasts of all kinds. 
                    Whether you're an avid reader, a casual bookworm, or just looking for your next great read, 
                    you've come to the right place. 
                    BookShelf is a virtual community where you can share your thoughts on the books you've read, 
                    discover new literary gems, and engage in lively discussions with fellow bibliophiles. 
                    It's like Reddit for book lovers, where your passion for literature takes center stage. 
                    Dive into the world of words, explore new adventures, and embark on exciting literary journeys 
                    right here on BookShelf!
                </p>
                <span class="post_img"></span>
            </div>
    
            <!-- Second Post -->
            <div class="post">
                <h2 class="post_user">John Paul Chua</h2>
                <h4 class="usr_tag"> @ jp_official </h4>
                <p class="post_content">First to post.
                    We need more variety here. So I'm going to get a database that we can randomaly grab responses from the database.
                </p>
                <span class="post_img"></span>
            </div>

            <!-- Third Post -->
            <div class="post">
                <h2 class="post_user">BookShelf Official</h2>
                <h4 class="usr_tag"> @ BookShelf_official </h4>
                <p class="post_content">This is the third post in the feed. Updates are now a work in progress. </p>
                <span class="post_img"></span>
            </div>
        <div>

        <div class="login_article_div">
            You are currently not logged in.<br>
            Login or signup first to see more posts.
        </div>

    </article>

    <footer>
        <!-- This is where the copyrights are -->
        <a href=#> About Us </a> || <a href=#> Contatct Us </a> || <a href=#> Support Us </a> 
    </footer>
</body>
</html>